html, body {
  padding-top: 5rem;
  padding-bottom: none;
  margin-bottom: none;
}

.jumbotron-pane {
  background-color: #444;
  width: 100%
}

.no-horizontal-padding {
  padding-right: 0;
  padding-left: 0;
}

.nudge-down {
  padding-top: 1rem;
}

.copies {
  width: 20%;
}

.footer {
  background-color: #EEE;
  color: #666;
  margin-top: 4rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
